
@{
    ViewBag.Title = "Index";
}

<h2>Moderator Dashboard</h2>

@Html.ActionLink("View All Categories", "ViewAllCategories", "Moderator", new { @class = "btn btn-success btn-lg" })
@Html.ActionLink("View All Posts", "ViewAllPosts", "Moderator", new { @class = "btn btn-success btn-lg" })
@Html.ActionLink("View All Comments", "ViewAllComments", "Moderator", new { @class = "btn btn-success btn-lg" })
